#loading {
  font-family: 'Shrikhand', "Cursive";
  font-size: x-large;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 120;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: stretch;
  animation-delay: 0s;
  animation-duration: 3s;
  background-color: #FAFAFA;
  animation-fill-mode: forwards;
  animation-iteration-count: 1; }

@keyframes stretch {
  0% {
    color: #9356DC;
    transform: scale(1);
    z-index: 2000; }
  50% {
    color: #FF79DA;
    transform: scale(3);
    opacity: 1; }
  99% {
    color: #99E2D0;
    transform: scale(1.5);
    z-index: 2000;
    opacity: 1; }
  100% {
    color: #99E2D0;
    transform: scale(1.5);
    opacity: 0;
    z-index: -1000; } }
.affichage_menu__animationcheck {
  background-color: #99E2D0;
  border: none;
  margin: -20px -120px -20px 16px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s; }
.affichage_menu__animationcheck_i {
  font-size: 130%;
  height: 16px;
  width: 16px;
  background-color: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.8s; }
.affichage_menu__animationcheck_check {
  color: white; }
.affichage_menu:hover .affichage_menu__animationcheck {
  margin-right: -20px;
  width: 80px;
  cursor: pointer; }
.affichage_menu:hover .affichage_menu__animationcheck_i {
  transform: rotate(0); }

.menu .affichage_menu__entrees {
  animation: affichage_menu_progres 300ms 100ms; }
.menu .affichage_menu__plats {
  animation: affichage_menu_progres 600ms 200ms; }
.menu .affichage_menu__desserts {
  animation: affichage_menu_progres 900ms 400ms; }

@keyframes affichage_menu_progres {
  from {
    transform: scaleY(0);
    opacity: 0; }
  to {
    transform: scaleY(1);
    opacity: 1; } }
.menu .heart__color:hover {
  animation-duration: 1000ms;
  animation-name: coeur_plein_progress;
  animation-fill-mode: forwards;
  cursor: pointer; }

.restaurants__menu .heart__color:hover {
  animation-duration: 1000ms;
  animation-name: coeur_plein_progress;
  animation-fill-mode: forwards;
  cursor: pointer; }

@keyframes coeur_plein_progress {
  0% {
    transform: scaleY(0);
    opacity: 0; }
  50% {
    transform: scaleY(1);
    opacity: 1;
    color: #FF79DA; }
  100% {
    transform: scaleY(1);
    opacity: 1;
    color: #9356DC; } }
h2 {
  font-family: "Roboto";
  font-weight: bold;
  margin-left: 4%; }

h3 {
  font-family: "Shrikhand";
  font-size: 28px; }

a:not(footer) {
  text-decoration: none;
  color: black; }

.button {
  width: 210px;
  height: 55px;
  border-radius: 25px;
  border: none;
  color: white;
  font-weight: bold;
  background: linear-gradient(to right bottom, #9356DC, #FF79DA);
  cursor: pointer;
  font-size: 16px;
  font-family: "Roboto";
  cursor: pointer;
  box-shadow: 5px 2px 2px #DEE1DF;
  transition-property: transform;
  transition-duration: 400ms; }
  .button:hover {
    filter: brightness(105%);
    transform: scale(1.15);
    box-shadow: 10px 5px 5px #DEE1DF; }

.fonctionnement__card:hover {
  filter: brightness(104%);
  box-shadow: 10px 5px 5px #DEE1DF;
  background-color: #FFE9F9; }
  .fonctionnement__card:hover .fonctionnement__card__i {
    color: #9356DC; }

.heart {
  border: none;
  background-color: transparent;
  float: right;
  width: 20%;
  height: 20%;
  font-size: 150%;
  margin-top: -55px; }
  .heart__color {
    border: none;
    float: right;
    width: 20%;
    height: 20%;
    font-size: 150%;
    background-color: transparent;
    color: transparent;
    margin-top: -55px; }

.heart:hover {
  cursor: pointer; }

header {
  display: block;
  position: relative;
  box-shadow: 0 5px 5px -5px grey; }

header a {
  margin-left: 4%;
  height: 90%;
  position: absolute;
  display: flex;
  align-items: center; }

header h1 {
  margin: auto;
  padding-bottom: 5px;
  padding-top: 5px; }

.logo {
  text-align: center;
  font-family: 'Shrikhand', "Cursive"; }

footer {
  background-color: #3E4640;
  color: white;
  width: 100%;
  font-family: 'Roboto';
  padding-bottom: 20px;
  margin-top: -14px; }
  footer a {
    color: white; }
  footer p {
    margin-left: 4%; }
  footer img {
    width: 100px;
    margin-left: 4%;
    margin-bottom: 20px;
    margin-top: 30px; }
  footer i {
    width: 20px; }

.footer {
  margin-top: -8px; }
  .footer .footer__icone {
    width: 60%;
    align-items: center;
    vertical-align: middle;
    display: flex;
    height: 18px;
    margin-bottom: 10px;
    margin-left: 4%; }

.recherche {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: #F3F3F3;
  font-size: 18px;
  padding: 8px;
  font-family: "Roboto"; }
  .recherche .fa-solid {
    width: 25px; }

.presentation {
  text-align: center;
  background-color: #FAFAFA;
  padding-top: 10px;
  padding-bottom: 30px;
  font-family: "Roboto";
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .presentation h2 {
    box-sizing: border-box;
    width: 80%; }
  .presentation p {
    width: 75%;
    margin-top: -10px; }

.fonctionnement {
  font-family: 'Roboto'; }
  .fonctionnement__card {
    margin-left: 4%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 92%;
    height: 80px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px grey;
    margin-bottom: 25px;
    flex-wrap: nowrap;
    background-color: #F7F7F7; }
    .fonctionnement__card__numero {
      background-color: #9356DC;
      border: 1px solid #9356DC;
      border-radius: 100%;
      width: 25px;
      height: 25px;
      text-align: center;
      vertical-align: middle;
      color: white;
      line-height: 25px;
      margin-left: -12px; }

.fonctionnement h4 {
  margin-left: 20px; }
.fonctionnement i {
  margin-left: 20px; }

.restaurants {
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #F5F0F7;
  font-family: 'Roboto'; }

.restaurants h2 {
  margin-left: 4%; }

.restaurants__menu {
  margin: auto;
  border-radius: 20px;
  width: 90%;
  height: 250px;
  background-color: white;
  margin-bottom: 20px;
  border: 1px solid #F2F1F2;
  flex-wrap: nowrap;
  cursor: default;
  position: relative; }
  .restaurants__menu__img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    z-index: 2; }
  .restaurants__menu__nouveau {
    background: #a9e0d1;
    color: #3b8468;
    border-radius: 3px;
    position: absolute;
    top: 20px;
    right: 30px;
    padding: 5px 10px 5px 10px;
    font-size: 15px;
    font-weight: bold; }

.restaurants__footer__txt {
  margin-left: 4%;
  width: 50%; }
  .restaurants__footer__txt__title {
    margin-top: 0px;
    font-size: 18px; }
  .restaurants__footer__txt__subtitle {
    margin-top: -15px; }

.img_menu img {
  object-fit: cover;
  width: 100%;
  max-height: 300px; }

.menu .heart {
  margin-top: -55px; }
  .menu .heart_plein {
    margin-top: -55px; }

.menu {
  background-color: #F5F0F7;
  height: auto;
  border-radius: 20px 20px 0 0;
  z-index: 1;
  margin-top: -50px;
  position: relative; }

.menu h3 {
  width: 75%;
  margin-left: 4%;
  padding-top: 35px; }

.menu h4 {
  border-bottom: 2px solid green;
  width: 40px;
  margin-left: 4%;
  font-family: 'Roboto';
  padding-top: 25px; }

.affichage_menu {
  font-family: 'Roboto';
  background-color: white;
  padding: 15px;
  display: flex;
  border-radius: 15px;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 20px;
  overflow: hidden; }
  .affichage_menu__txt {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1; }
  .affichage_menu__tarif {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 10px;
    margin-right: 20px; }
  .affichage_menu__h5 {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 17px; }
  .affichage_menu__p {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 15px; }

.commander {
  padding-top: 30px;
  padding-bottom: 70px; }

.button {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: auto; }

/*# sourceMappingURL=style.css.map */
