// Animation loader acceuil

#loading {
    font-family: 'Shrikhand', "Cursive";
    font-size: x-large;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 120;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: stretch;
    animation-delay: 0s;
    animation-duration: 3s;
    background-color: $couleur_background;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes stretch {
  0% {
      color: $color_primaire;
      transform: scale(1);
      z-index: 2000;
  }
  50% {
      color: $color_secondaire;
      transform: scale(3);
      opacity: 1;
  }
  99% {
      color: $color_tertiaire;
      transform: scale(1.5);
      z-index: 2000;
      opacity: 1;
  }
  100% {
      color: $color_tertiaire;
      transform: scale(1.5);
      opacity: 0;
      z-index: -1000;
  }
}

// Animation check menu

.affichage_menu {
    &__animationcheck {
        background-color: $color_tertiaire;
        border: none;
        margin:  -20px -120px -20px 16px;
        width: 80px;
        height: 80px;
        display:flex;
        align-items:center;
        justify-content:center;
        transition-duration: 0.5s;
    }

    &__animationcheck_i {
        font-size: 130%;
        height: 16px;
        width: 16px;
        background-color: $color_tertiaire;
        display:flex;
        align-items:center;
        justify-content:center;
        border-radius: 100px;
        transform: rotate(180deg);
        transition-duration: 0.8s;
    }

    &__animationcheck_check {
        color: white;
    }

    &:hover &__animationcheck {
        margin-right: -20px;
        width: 80px;
        cursor: pointer;
    }

    &:hover &__animationcheck_i {
        transform: rotate(0);
    }
}

// Animation menu

.menu {
    .affichage_menu__entrees {
        animation: affichage_menu_progres 300ms 100ms;
    }
    .affichage_menu__plats {
        animation: affichage_menu_progres 600ms 200ms;
    }
    .affichage_menu__desserts {
        animation: affichage_menu_progres 900ms 400ms;
    }
}

@keyframes affichage_menu_progres{
    from {
        transform: scaleY(0);
        opacity: 0;
    }

    to {
        transform: scaleY(1);
        opacity: 1;
    }
}

// Animation coeur

.menu {
    .heart__color:hover {
        animation-duration: 1000ms;
        animation-name: coeur_plein_progress;
        animation-fill-mode: forwards;
        cursor: pointer;
    }
}

.restaurants__menu {
        .heart__color:hover {
        animation-duration: 1000ms;
        animation-name: coeur_plein_progress;
        animation-fill-mode: forwards;
        cursor: pointer;
    }
}

@keyframes coeur_plein_progress {
    0% {
        transform: scaleY(0);
        opacity: 0;
    }

    50% {
        transform: scaleY(1);
        opacity: 1;
        color: #FF79DA;
    }

    100% {
        transform: scaleY(1);
        opacity: 1;
        color: #9356DC;  
    }
}
