// Boutton index 

.button__explorer {
    width: 210px;
    height: 55px;
    border-radius: 25px;
    border: none;
    color: white;
    font-weight: bold;
    background: $couleur_degrade;
    cursor: pointer;
    font-size: 16px;
    font-family: "Roboto"; 
    cursor: pointer;
    box-shadow: 5px 2px 2px $couleur_ombre_bouton;
    transition-property: transform;
    transition-duration: 400ms;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &:hover {
        filter: brightness(105%);
        transform: scale(1.15);
        box-shadow: 10px 5px 5px $couleur_ombre_bouton;
    }
}


// Bouton Commander page menu

.button {
    width: 210px;
    height: 55px;
    border-radius: 25px;
    border: none;
    color: white;
    font-weight: bold;
    background: $couleur_degrade;
    cursor: pointer;
    font-size: 16px;
    font-family: "Roboto"; 
    cursor: pointer;
    box-shadow: 5px 2px 2px $couleur_ombre_bouton;
    transition-property: transform;
    transition-duration: 400ms;

        &:hover {
            filter: brightness(105%);
            transform: scale(1.15);
            box-shadow: 10px 5px 5px $couleur_ombre_bouton;
    }
}

// Fonctionnement hover

.fonctionnement__card:hover {
    filter: brightness(104%);
    @include box-shadow-card-fonctionnement-hover;
    background-color: $background_color_fonctionnement_hover;
    cursor: pointer;
    
    .fonctionnement__card__i {
        color: $color_primaire;
    }
}

// Coeur

.heart {
    border: none;
    background-color: transparent;
    float: right;
    width: 20%;
    height: 20%;
    font-size: 150%;
    margin-top: -55px;
    justify-content: center;
    align-items: center;
    display: flex;


    &__color {
        justify-content: center;
        align-items: center;
        display: flex;
        float: right;
        width: 20%;
        height: 20%;
        font-size: 150%;
        margin-top: -55px;
        opacity: 0;
        border: none;
        background: $couleur_degrade_coeur;
        background-clip: text;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }
}

