.recherche {
    display: flex;
    height: 35px;
    justify-content: center;
    align-items: center;
    background-color: $couleur_background_recherche;
    font-size: 16px;
    padding: 8px;
    font-family: "Roboto";

    .fa-solid {
        width: 20px;
    }
}

.presentation {
    text-align: center;
    background-color: $couleur_background;
    padding-top: 10px;
    padding-bottom: 70px;
    font-family: "Roboto";
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        box-sizing: border-box;
        width: 70%;
        margin-bottom: 25px;
    }

    p {
        width: 75%;
        margin-top: -10px;
        margin-bottom: 25px;
    }
}

.fonctionnement {
    font-family: 'Roboto';
    margin-bottom: 80px;
    margin: 0 4% 0 4%;

    &__card {
        margin-left: 4%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 92%;
        height: 70px;
        border-radius: 15px;
        @include box-shadow-card-fonctionnement;
        margin-bottom: 25px;
        flex-wrap: nowrap;
        background-color: $couleur_background_fonctionnement;

        &__numero {
            background-color: $color_primaire;
            border: 1px solid $color_primaire;
            border-radius: 100%;
            @include taille-numero-fonctionnement;
            text-align: center;
            vertical-align: middle;
            color: white;
            line-height: 25px;
            margin-left: -12px;
        }
    }
}

.fonctionnement {
    h4 {
        margin-left: 20px;
    }

    i {
        margin-left: 20px;
        color: grey;
    }

    h2 {
        margin-bottom: 30px;
        margin-top: 40px;
    }
}


.restaurants {
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $couleur_background_restaurants;
    font-family: 'Roboto';
}


.restaurants h2 {
    margin-left: 4%;
    margin-bottom: 20px;
}


.restaurants__menu {
    margin: auto;
    border-radius: 20px;
    @include taille-restaurant-menu-home;
    background-color: white;
    margin-bottom: 20px;
    border: 1px solid $couleur_border_restaurants;
    flex-wrap: nowrap;
    cursor: default;
    position: relative;

    &__img {
        @include taille-img-restaurant-menu-home;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
        z-index: 2;
    }

    &__nouveau {
        background: $couleur_background_nouveau;
        color: $couleur_txt_nouveau;
        border-radius: 3px;
        position: absolute;
        top: 20px;
        right: 30px;
        padding: 5px 10px 5px 10px;
        font-size: 15px;
        font-weight: bold;
    }
}


.restaurants__footer__txt {
    margin-left: 4%;
    width: 50%;

    &__title {
        margin-top: 8px;
        font-size: 18px;
    }

    &__subtitle {
        margin-top: -20px;
    }
}



