.img_menu img{
    object-fit: cover;
    width: 100%;
    max-height: 250px;
}

.menu .btn_heart {
    margin-top: -55px;
}
  
.menu .btn_heart_plein {
    margin-top: -55px;
}
  
.menu {
    background-color:$couleur_background_restaurants;
    height: auto;
    border-radius: 20px 20px 0 0;
    z-index: 1;
    margin-top: -80px;
    position: relative;
}

.menu h3 {
        width: 75%;
        margin-left: 4%;
        padding-top: 30px;
}

.menu h4 {
    border-bottom: 2px solid green;
    width: 40px;
    margin-left: 4%;
    font-family: 'Roboto';
    padding-top: 25px;
}

.affichage_menu {
    font-family: 'Roboto';
    background-color: white;
    padding: 15px;
    display: flex;
    border-radius: 15px;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 20px;
    overflow: hidden;

    &__txt {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        flex: 1;
    }

    &__tarif {
        font-weight: bold;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-left: 10px;
        margin-right: 20px;
    }

    &__h5 {
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 17px;
    }

    &__p {
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 15px;
    }
}

.commander {
    padding-top: 15px;
    padding-bottom: 50px;
}

.button {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
}

