.img_menu img{
    object-fit: cover;
    width: 100%;
    max-height: 300px;
}

.menu .heart {
    margin-top: -55px;

    &_plein {
        margin-top: -55px;
    }
}
  
.menu {
    background-color:$couleur_background_restaurants;
    height: auto;
    border-radius: 20px 20px 0 0;
    z-index: 1;
    margin-top: -50px;
    position: relative;
}

.menu h3 {
    width: 75%;
    margin-left: 4%;
    padding-top: 35px;
}

.menu h4 {
    border-bottom: 2px solid green;
    width: 40px;
    margin-left: 4%;
    font-family: 'Roboto';
    padding-top: 25px;
}

.affichage_menu {
    font-family: 'Roboto';
    background-color: white;
    padding: 15px;
    display: flex;
    border-radius: 15px;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 20px;
    overflow: hidden;

    &__txt {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        flex: 1;
    }

    &__tarif {
        font-weight: bold;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-left: 10px;
        margin-right: 20px;
    }

    &__h5 {
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 17px;
    }

    &__p {
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 15px;
    }
}

.commander {
    padding-top: 30px;
    padding-bottom: 70px;
}

.button {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
}

.affichage_menu__entrees {
    @media (min-width: 650px) {
        width: 30%;
    }
}

.affichage_menu__plats {
    @media (min-width: 650px) {
        width: 30%;
    }
}

.affichage_menu__desserts {
    @media (min-width: 650px) {
        width: 30%;
    }
}

.affichage {
    @media (min-width: 650px) {
        display: flex;
        justify-content: space-around;
    }
}

