$color_primaire: #9356DC;
$color_secondaire: #FF79DA;
$color_tertiaire: #99E2D0;
$background_color_fonctionnement_hover: #FFE9F9;
$couleur_degrade: linear-gradient(to right bottom, #9356DC, #FF79DA);
$couleur_background_footer: #3E4640;
$couleur_background_recherche: #F3F3F3;
$couleur_background: #FAFAFA;
$couleur_background_fonctionnement: #F7F7F7;
$couleur_background_restaurants: #F5F0F7;
$couleur_border_restaurants: #F2F1F2;
$couleur_ombre_bouton: #DEE1DF;
$couleur_degustez: #ECCDF7;
$couleur_background_nouveau: #a9e0d1;
$couleur_txt_nouveau: #3b8468; 