header {
    display: block;
    position: relative;
    box-shadow: 0 5px 5px -5px grey;
}



header a {
    margin-left: 4%;
    height: 90%;
    position: absolute;
    display: flex;
    align-items: center;
}

header h1 {
    margin: auto;
}

.logo {
    text-align: center;
    font-family: 'Shrikhand', "Cursive";
}

footer {
    background-color: $couleur_background_footer;
    color: white;
    width: 100%;
    font-family: 'Roboto';
    padding-bottom: 30px;
    margin-top: -14px;

        a {
            color: white;
        }

            p {
                margin-left: 4%;
            }

                img {
                    width: 130px;
                    margin-left: 4%;
                    margin-bottom: 20px;
                    margin-top: 20px;
                }

                    i {
                        width: 20px;
                    }

}

.footer {
    margin-top: -8px;


    .footer__icone {
        width: 80%;
        align-items: center;
        vertical-align: middle;
        display: inline-flex;
        height: 18px;
        margin-bottom: 10px;
        margin-left: 4%;
    }
}